.ml-15{
    margin-left:15px
}

.mt-15{
    margin-top: 20px;
}

.pl-15{
 padding: 15px;
}


.align-center{
    align-items: center;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

a{
    color:#35BBCA!important;
    cursor: pointer;
}

.ft-14{
    font-size: 13px;
}

.d-flex{
    display: flex;
}

.mt-10{
    margin-top:10px
}

.bg-grey{
    background-color: #e8e8e8;
}

input{
    width: 90%;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    height: 28px;
}

select{
    border: 1px solid #e5e5e5;
 
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}